Bitwarden CLI/
bottom/
Code - OSS/
FortiClient/
GIMP/
JetBrains/
QtProject.conf
Soundux/
autorandr/
configstore/
dconf/
deluge/
discord/
flameshot/
google-chrome/
gtk-2.0/
jgit/
nextjs-nodejs/
nomacs/
obs-studio/
pulse/
systemd/
user-dirs.*
vlc/
xournalpp/
yarn/
mimeapps.list
gh/
neofetch/
ranger/
thefuck/
spotify-tui/

**/__pycache__
gh/hosts.yml
spotify-tui/.spotify_token_cache.json
chromium/
xmonad/.xmonad
xmonad/prompt-history
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o

.playwright-mcp/

# nix-build output symlink
result
result-*
